.page_header{
    color: #3d405b;
    font-size: 3rem;
}

body{
    background-color: #81b29a;
}

.center{
    max-width: 600px;
    margin: auto;
    align-content: center;
    text-align: center;
}

#reg_button{
    font-size: 1.5rem; 
}

#tran_button{
    font-size: 1.5rem;
}

#welcome{
    font-size: 1rem;
}

#budget_table{
    text-align: center
}