img {
    width: 100px;
    height: 100px;
}

form {
    overflow: hidden;
	width: 500px;
  }
  
  input {
    float: right;
    clear: both;
	width: 200px;
  }

  .center{
    max-width: 500px;
    margin: auto;
  }

  .heading{
      text-align: center;
      font-family: 'Fahkwang', sans-serif;
      font-size: 48px;
  }