<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Result</title>
</head>
<body>
	<h1>Postal Rate Result</h1>
	<p><%= mailType %> mail type at <%= weight %> ounces is: <%= postalRate %></p>
</body>
</html>