body{
    background-image: url("images/dirt.jpg");
}

#assignment-link{
    width:200px;
    height:35px;
    background-color:#7CFC00;
    font-size:22px;
}

#title{
    margin: auto;
    width: 20%;
    font-size: 40px;
    color: #228B22;
}

#growing {
    width: 200px;
    height: 200px;
    background-image: url("images/seed.png");
    background-size: 200px 200px;
    transition-property: background-image;
    transition-duration: 3s;
    float: left;
}

#growing:hover {
    background-image: url("images/seedling.png");
}

#fun-facts{
    margin: auto;
    width: 86%;
    float: right;
    color: white;
    font-size: 24px;
    text-align: center;
}